.body {
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Prosto One';
}

.background {
    background-image: url("concert1.JPG");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    box-shadow: inset 0 0 15px 15px black;
}

.logo {
    margin-top: 5%;
    margin-bottom: 7%;
    width: 400px;
    border-radius: 47%;
    border: 5px inset rgb(228, 227, 227);
    opacity: 0.7;
    pointer-events: none;
}

.logo-artist {
    width: 150px;
    border-radius: 47%;
    border: 5px inset rgb(228, 227, 227);
    opacity: 0.7;
    position: fixed;
    margin: 10px 15px 15px 10px;
    display:inline-block;
    left: 0;
    pointer-events: none;
}

.fieldset-search {
    width: 12%;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    text-align: left;
    font-size: 25px;
    display: inline-block;
    border: 5px inset rgb(228, 227, 227);
    color: rgb(121, 120, 120);
    margin-top: auto;
}

.fieldset-filter {
    width: 700px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    text-align: left;
    font-size: 25px;
    display: inline-block;
    border: 5px inset rgb(228, 227, 227);
    color: rgb(121, 120, 120);
    margin-top: auto;
    padding-left: 2%;
}

.fieldset-artist {
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    text-align: left;
    font-size: 20px;
    display: inline-block;
    border: 5px inset rgb(228, 227, 227);
    color: rgb(121, 120, 120);
    margin-top: auto;
    background-color: black;
}

.image {
    width: 300px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    pointer-events: none;
    padding: 5px 10px 5px 10px;
}

.filter {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    background-color: rgb(121, 120, 120);
    transition: background-color 1s, color 1s;
    margin-right: 90px;
} 

.insert {
    font-family: 'Prosto One';
    color: rgb(121, 120, 120);
    font-size: 20px;
}

.insert-search {
    font-family: 'Prosto One';
    color: rgb(121, 120, 120);
    font-size: 20px;
    width: 280px;
}


.result-button {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display:inline-block;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    background-color: rgb(121, 120, 120);
    transition: background-color 1s, color 1s;
    cursor: pointer;
    font-family: 'Prosto One';
    border: none;
    margin-top: 3%;
}

.result-button:hover {
    background-color: black;
    color: white;
}

.result-button:active {
    opacity: 0.7;
}

.list {
    list-style:none;
    float:left;
    margin: 40px;
}

.list-artist {
    list-style:none;
    text-transform: uppercase;
}

.link {
    text-decoration: none
}

.center {
    margin: auto;
    width: 80%;
    padding-left: 10%;
}

.back-button {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px 5px 10px;
    background-color: rgb(121, 120, 120);
    transition: background-color 1s, color 1s;
    cursor: pointer;
    font-family: 'Prosto One';
    margin-top: 10px;
    align-items: center;
    display:inline;
}

.back-button:hover {
    background-color: black;
    color: white;
}

.back-button:active{
    opacity: 0.7;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.radio {
    display: inline-flex;
    overflow: hidden;
    border: 1px solid rgb(121, 120, 120);
    border-radius: 50px;
}

.radio_input {
    display: none;
}

.radio_label {
    padding: 5px 12px;
    font-size: 18px;
    font-family: 'Prosto One', cursive;
    color: rgb(121, 120, 120);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.radio_label:not(:last-of-type) {
    border-right: 1px solid rgb(121, 120, 120);
}

.radio_input:checked + .radio_label {
    background-color: rgb(121, 120, 120);
    color: #fff;
    border-color: #fff;
    opacity: 0.7;
}

.radio_label:hover {
    background-color: rgb(121, 120, 120);
    color: white;
}

.map {
    height: 330px;
    width: 530px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border: 5px inset rgb(228, 227, 227);
    display:inline-block;
}

.filter1 {
    width: 50%;
    float:left;
}

.filter2 {
    width: 50%;
    float:right;
}

.filter3 {
    margin-top: 2%;
    width: 50%;
    float:left;
}

.filter4 {
    margin-top: 2%;
    width: 50%;
    float:right;
}

