<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="../static/styles.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
        <title>Groupie-Tracker</title>
    </head>
    <body class="body">
        <div class="background">
            <img class="logo" src="../static/logo.jpg">
            <form action="/filters/" method="GET" autocomplete="off">
                <fieldset class="fieldset">
                <legend>Creation year</legend><br>
                    <input class="insert" type="text" inputmode="numeric" name="CreationDateFrom" placeholder="From year" required/>
                    <input class="insert" type="text" inputmode="numeric" name="CreationDateTo" placeholder="To year" required/><br>
                <p>
                    <input class="filter-button" type="submit" value="FILTER">
                </p>  
                </fieldset>
                <div>  
                    <input class="back-button" type="button" id="main" value="Back to main page" onclick="window.location = '/'"> 
                </div>
                <script>
                    document.getElementById("main").style.visibility = "hidden";
                    if (document.referrer.match('http://localhost:8080/')){
                        document.getElementById("main").style.visibility = "visible";
                    } 
                    if (document.referrer.match('filters/')){
                        document.getElementById("main").style.visibility = "hidden";
                    } 
                    if (document.referrer.match('artist/')){
                        document.getElementById("main").style.visibility = "hidden";
                    } 
                </script>
            </form>
        </div>
        <div class="center">
            {{range .}}
            <li class="list">
                <a class="link" href="/artist/{{.ID}}">
                <fieldset class="fieldset-artist">
                    <legend>{{.Name}}</legend>
                    <img class="image" src="{{.Image}}">
                </fieldset>
                </a>
            </li>
            {{end}}
        </div>
    </body>
</html>